.main {
    border-radius: 5px;
    background: #d9d9d95c;
    width: 175px;
    height: 63px;
    padding: 14px 10px;
    text-align: end;
}

.text {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #0000007a;
}

.used {
    margin-left: 9px;
    color: #000;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.limit {
    margin-left: 9px;
    color: #8AC540;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 9px;
}

.lds_ellipsis {
    display: inline-block;
    position: relative;
    right: 75%;
    bottom: 95%;
}

.lds_ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #5970ff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds_ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds_ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds_ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds_ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

@media all and (max-width: 500px) {
    .main {
        border-radius: 5px;
        background: #d9d9d95c;
        width: 175px;
        height: 63px;
        padding: 14px 10px;
        text-align: end;
    }
}
