.auth_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 141px 80px 60px;
    flex-wrap: wrap;
}

.header {
    font-size: 40px;
    font-weight: 900px;
    text-transform: uppercase;
    width: 817px;
    margin-top: -35px;
    font-family: Ferry;
}

.characters {
    margin-left: 150px;
}

@media all and (max-width: 500px) {
    .header {
        font-size: 22px;
        letter-spacing: 0.44px;
    }
}