.auth_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 141px 80px 60px;
    flex-wrap: wrap;
}

.header {
    font-size: 40px;
    font-weight: 900px;
    text-transform: uppercase;
    width: 700px;
    margin-top: -35px;
}

.characters {
    margin-left: 150px;
}