.main {
    margin-top: 107px;
}

.header {
    font-size: 30px;
    font-family: Ferry;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.6px;
}

.container_publics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 58px;
}

.container_btn {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.button {
    border-radius: 5px;
    background: #5970FF;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.88px;
    padding: 16px 50px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #19267b;
    transition: all 2s;
}

@media all and (max-width: 500px) {
    .main {
        margin-top: 57px;
    }

    .container_publics {
        flex-direction: column;
    }

    .header {
        font-size: 28px;
        letter-spacing: 0.28px;
    }

    .container_publics {
        margin-top: 34px;
    }

    .button {
        width: 100%;
    }
}