.container_account {
    display: flex;
    justify-content: space-between;
    width: 410px;
}

.user_info {
    display: flex;
    align-items: center;
}

.img {
    width: 32px;
    height: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
}

.text {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    border: none;
    background: inherit;
    cursor: pointer;
    opacity: 40%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
