.header {
    font-size: 30px;
    font-family: Ferry;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.6px;
}

.par {
    color: #949494;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-top: 17px;
}

.div {
    display: flex;
    align-items: center;
}

.container_result {
    border-radius: 10px;
    border: 1px solid #029491;
    display: flex;
    margin-top: 27px;
    width: max-content;
}

.button {
    cursor: pointer;
    border: none;
    background: inherit;
    margin-top: 25px;
}

.field_description {
    padding: 17px 28px;
    background: #029491;
    border-radius: 10px 0px 0px 10px;
}

.field {
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 26px;
}

.container_items {
    padding: 17px 0px 17px 14px;
    display: flex;
}

.item {
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 26px;
    text-align: center;
}

.field:last-child,
.item:last-child {
    margin-bottom: 0px;
}

.hr {
    border: 1px solid #949494;
    opacity: 40%;
    transform: rotate(180deg);
    margin-left: 20px;
}