.footer {
    background: #029491;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    margin-left: 60px;
    height: 102px;
}

.contact {
    margin: 25px 45px;
    color: #ffffff;
    text-align: right;
}

.text {
    font-size: 14px;
    line-height: 17px;
}

.copyright {
    font-size: 12px;
    line-height: 15px;
    margin-top: 21px;
}

@media all and (max-width: 500px) {
    .img {
        margin-left: 14px;
    }

    .contact {
        margin: 25px 19px;
    }
}
