.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 69px 60px;
}

.container_about {
    width: 743px;
}

.header {
    font-size: 60px;
    font-family: Ferry;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.6px;
}

.text {
    color: #000;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 20px;
    width: 534px;
}

.button {
    border-radius: 5px;
    background: #5970FF;
    color: #FFF;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;
    border: none;
    padding: 14px 64px;
    margin-top: 70px;
    cursor: pointer;
}

.button:hover {
    background: #19267b;
    transition: all 2s;
}

@media all and (max-width: 500px) {
    .main {
        padding: 20px 14px;
    }

    .header  {
        font-size: 28px;
        letter-spacing: 0.28px;
        width: 100%;
    }

    .text {
        font-size: 18px;
        letter-spacing: 0.18px;
        margin-top: 19px;
        width: 100%;
    }

    .img {
        width: 100%;
        height: auto;
        margin-top: 39px;
    }

    .button {
        padding: 14px 72px;
        width: 100%;
        margin-top: 32px;
    }
}