.main {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    padding: 22px 20px;
}

.text {
    margin-top: 12px;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}

@media all and (max-width: 500px) {
    .text {
        margin-top: 8px;
        font-size: 14px;
        letter-spacing: 0.14px;
    }
    .main {
        width: 298px;
    }
}