.main {
    padding: 69px 60px;
}

.container_header {
    display: flex;
    justify-content: space-between;
}

.header {
    font-size: 40px;
    font-family: Ferry;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    width: 700px;
}

.par {
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-top: 25px;
}

.document {
    margin-top: 78px;
    margin-right: 166px;
}

.folders {
    margin-right: 45px;
    margin-bottom: 20px;
}

.container_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 47px;
}

@media all and (max-width: 500px) {

    .main {
        padding: 14px;
    }
    .header {
        font-size: 28px;
        letter-spacing: 0.28px;
        width: 300px;
    }

    .par {
        font-size: 18px;
        margin-top: 19px;
        width: 290px;
    }

    .folders {
        display: none;
    }

    .document {
        margin-top: 78px;
        margin-left: -20px;
        margin-right: 0px;
    }

    .img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
}